* {
    margin: 0;
}

.btn-primary {
    background: #F15B22;
    border-radius: 5px;
    padding: 20px 25px;
    font-weight: 600;
    font-size: 20px;
    color: white;
    line-height: 23px;
    border: none;
    margin-top: 20px;
}

/* header container styles */
header {
    background-image: url('/images/banner/banner2.png');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: 100%;
    background-position: fixed;

}

.header-container {
    padding-top: 150px;
    padding-right: 150px;
    text-align: right;
}

.header-title {
    text-align: right;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 65px;

}

.header-des {
    padding-left: 798px;
    text-align: right;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-top: 20px;
}

/* main section styles */
#section {
    display: flex;
    padding: 200px 100px;
    margin: 0 auto;
}

.my-year img {
    color: #e7ab94;
    /* border-radius: 50%;
    border-top-left-radius: 50%; */
}

.my-title {
    padding: 250px 100px 0;
    font-family: 'Work Sans';

}

.my-title-heading {
    margin-right: 119px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}

.my-title-des {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-top: 20px;
    text-align: justify;
    margin-left: 10px;
}

.list-style {
    margin-top: 16px;
    /* margin-right: 125px; */
    font-weight: 400;
    font-size: 16px;

    color: #444343;
    text-align: justify;
    padding: 5px;
}

.list-style p {
    padding: 5px;

}

.list-style i {
    color: #086fab;
}

/* my plans styles */
#my-plans {
    padding: 10px 200px;
}

.my-title-plan {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
}

.my-item-container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.my-item {
    text-align: center;
}

.web-h1 {
    margin-top: 24px;
}

.web-des {
    margin-top: 16px;
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}

/* img-gradient styles */
#img-gradient {
    padding: 50px 100px;
}

.img-write {
    position: absolute;
    z-index: 2;
    font-weight: 700;
    font-size: 30px;
    margin-top: 40px;
}

.img-write h1 {
    margin-left: 50px;
    color: white;
}

.orange {
    background-color: white;
    color: #F15B22;
    font-weight: 600;
    font-size: 20px;
    margin-left: 50px;
    margin-top: 24px;
    padding: 20px 36px;
    font-family: 'Work Sans';
    border: none;
    border-radius: 5px;
}


.photo-gradient img {
    position: absolute;
    z-index: 1;

}

.photo-gradient h2 {
    position: absolute;


}

.watch {
    position: absolute;
    margin: 0 auto;
    height: 50vh;
    margin-right: 50px;
}